*{
  font-family: "poppins";
}
body{
  background-color: rgb(1, 102, 68);
}

.container{
  display: flex;
  margin-left: auto;margin-right: auto;
  gap: 15px;
  width: max-content;
  height: 90%;
  padding: 15px;
  background-color:rgba(0, 30, 16, 0.1);
  margin-top: 100px;border-radius: 10px;
}

.sub-container-1{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  background-color:rgba(240, 255, 255, 0.8);
  width: fit-content;
  height: 100%;
  border-radius: 10px;
}

  .sub-container-2{
    padding: 20px;
    align-items: center;
    background-color:rgba(240, 255, 255, 0.8);
    width: fit-content;
    height: 100%;
    border-radius: 10px;
  }

input{
  width: 204px;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid black;
}
textarea{
  text-align: center;
  width: 206px;
  border-radius: 3px;
  border: 1px solid black;
}

 button{
  background-color:burlywood;
  font-family: "poppins";
  font-size: 15px;
  font-weight: 600;
  width: 215px;
  border: 1px dotted rgb(159, 91, 1);
  border-radius: 5px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
 }